In [8]:
import pandas as pd
import numpy as np
import os
# import re
from time import time

 >  Food: 
     *  t1, food 
     *  t7, food+and+cook
 >  Travel: 
     *  t6
 >  Holiday:
     *  t2: holiday+weekend+home
     *  t4, holiday+xmas+newyear
     *  t8, holiday+gift+product
 >  Tech+HomeDesign:
     *  t5, 
 >  SocialNetwork:
     *  t10,

t3, t9, no meaning

In [ ]:
nor_userCluster = pd.read_csv("nor_userCluster.csv")
nor_userCluster = nor_userCluster.drop(['t3','t9'],axis=1)

nor_userCluster['clustered_label']=[nor_userCluster.columns[np.argmax(nor_userCluster.values[i,1:])+1] 
                                    for i in xrange(nor_userCluster.shape[0])]
nor_userCluster.to_csv("nor_userCluster_new.csv", index=None)

In [18]:
ls

Data_Preparation.py      TopicClustering.ipynb    documentation/
Edges.ipynb              TopicKeyWords/           nor_userCluster.csv
GTMMC.sqlite3            Topics/                  nor_userCluster_new.csv
HashTag.ipynb            TravelNode.csv           pseudo_node.csv
NLP_data/                code/                    userClusters.csv
Node.ipynb               data/

In [17]:
cd ..

/Users/jiajiechen/Desktop/project-CSE6242

In [22]:
nor_userCluster.head()

,userID,t1,t2,t4,t5,t6,t7,t8,t10,clustered_label
0,1002962226,0.003303,0.046034,0.021327,0.000425,0.001271,0.00000,0.003277,0.012008,t2
1,1003869794,0.022103,0.063666,0.082502,0.005804,0.002167,0.00000,0.000000,0.013454,t4
2,101084953,0.012410,0.070934,0.319982,0.005436,0.000000,0.00000,0.011353,0.001466,t4
3,1013215946,0.002461,0.007519,0.122523,0.001095,0.002040,0.00208,0.000000,0.000000,t4
4,1016473609,0.000000,0.050600,0.123293,0.000000,0.000000,0.00000,0.000000,0.000000,t4

In [23]:
# t4
node = pd.read_csv("./Topics/Node/t4_Node1.csv",index_col=0,dtype='int')
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,3,9]]

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t4',axis=0,ascending=False)
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t4_Node1.csv",index=None)

In [30]:
# t4_2
node = pd.read_csv("./Topics/Node/t4_Node2.csv",index_col=0,dtype='int')
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,3,9]]

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t4',axis=0,ascending=False)
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t4_Node2.csv",index=None)

In [31]:
node = pd.read_csv("./Topics/Node/t4_Node3.csv",index_col=0,dtype='int')
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,3,9]]

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t4',axis=0,ascending=False)
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t4_Node3.csv",index=None)

In [32]:
node = pd.read_csv("./Topics/Node/t4_Node4.csv",index_col=0,dtype='int')
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,3,9]]

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t4',axis=0,ascending=False)
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t4_Node4.csv",index=None)

In [33]:
node = pd.read_csv("./Topics/Node/t4_Node5.csv",index_col=0,dtype='int')
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,3,9]]

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t4',axis=0,ascending=False)
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t4_Node5.csv",index=None)

In [34]:
nor_userCluster.head()

,userID,t1,t2,t4,t5,t6,t7,t8,t10,clustered_label
0,1002962226,0.003303,0.046034,0.021327,0.000425,0.001271,0.00000,0.003277,0.012008,t2
1,1003869794,0.022103,0.063666,0.082502,0.005804,0.002167,0.00000,0.000000,0.013454,t4
2,101084953,0.012410,0.070934,0.319982,0.005436,0.000000,0.00000,0.011353,0.001466,t4
3,1013215946,0.002461,0.007519,0.122523,0.001095,0.002040,0.00208,0.000000,0.000000,t4
4,1016473609,0.000000,0.050600,0.123293,0.000000,0.000000,0.00000,0.000000,0.000000,t4

In [36]:
node = pd.read_csv("./Topics/Node/t5_Node1.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,4,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t5',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t5_Node1.csv",index=None) #<<<

In [37]:
node = pd.read_csv("./Topics/Node/t5_Node2.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,4,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t5',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t5_Node2.csv",index=None) #<<<

In [38]:
node = pd.read_csv("./Topics/Node/t5_Node3.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,4,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t5',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t5_Node3.csv",index=None) #<<<

In [39]:
node = pd.read_csv("./Topics/Node/t5_Node4.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,4,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t5',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t5_Node4.csv",index=None) #<<<

In [40]:
node = pd.read_csv("./Topics/Node/t5_Node5.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,4,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t5',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t5_Node5.csv",index=None) #<<<

In [41]:
nor_userCluster.head()

,userID,t1,t2,t4,t5,t6,t7,t8,t10,clustered_label
0,1002962226,0.003303,0.046034,0.021327,0.000425,0.001271,0.00000,0.003277,0.012008,t2
1,1003869794,0.022103,0.063666,0.082502,0.005804,0.002167,0.00000,0.000000,0.013454,t4
2,101084953,0.012410,0.070934,0.319982,0.005436,0.000000,0.00000,0.011353,0.001466,t4
3,1013215946,0.002461,0.007519,0.122523,0.001095,0.002040,0.00208,0.000000,0.000000,t4
4,1016473609,0.000000,0.050600,0.123293,0.000000,0.000000,0.00000,0.000000,0.000000,t4

In [42]:
# t6
node = pd.read_csv("./Topics/Node/t6_Node1.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,5,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t6',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t6_Node1.csv",index=None) #<<<

In [43]:
# t6
node = pd.read_csv("./Topics/Node/t6_Node2.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,5,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t6',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t6_Node2.csv",index=None) #<<<

In [44]:
# t6
node = pd.read_csv("./Topics/Node/t6_Node3.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,5,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t6',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t6_Node3.csv",index=None) #<<<

In [45]:
# t6
node = pd.read_csv("./Topics/Node/t6_Node4.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,5,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t6',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t6_Node4.csv",index=None) #<<<

In [46]:
# t6
node = pd.read_csv("./Topics/Node/t6_Node5.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,5,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t6',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t6_Node5.csv",index=None) #<<<

In [47]:
nor_userCluster.head()

,userID,t1,t2,t4,t5,t6,t7,t8,t10,clustered_label
0,1002962226,0.003303,0.046034,0.021327,0.000425,0.001271,0.00000,0.003277,0.012008,t2
1,1003869794,0.022103,0.063666,0.082502,0.005804,0.002167,0.00000,0.000000,0.013454,t4
2,101084953,0.012410,0.070934,0.319982,0.005436,0.000000,0.00000,0.011353,0.001466,t4
3,1013215946,0.002461,0.007519,0.122523,0.001095,0.002040,0.00208,0.000000,0.000000,t4
4,1016473609,0.000000,0.050600,0.123293,0.000000,0.000000,0.00000,0.000000,0.000000,t4

In [48]:
# t7
node = pd.read_csv("./Topics/Node/t7_Node1.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,6,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t7',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t7_Node1.csv",index=None) #<<<

In [49]:
# t7
node = pd.read_csv("./Topics/Node/t7_Node2.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,6,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t7',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t7_Node2.csv",index=None) #<<<

In [50]:
# t7
node = pd.read_csv("./Topics/Node/t7_Node3.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,6,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t7',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t7_Node3.csv",index=None) #<<<

In [51]:
# t7
node = pd.read_csv("./Topics/Node/t7_Node4.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,6,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t7',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t7_Node4.csv",index=None) #<<<

In [52]:
# t7
node = pd.read_csv("./Topics/Node/t7_Node5.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,6,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t7',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t7_Node5.csv",index=None) #<<<

In [53]:
nor_userCluster.head()

,userID,t1,t2,t4,t5,t6,t7,t8,t10,clustered_label
0,1002962226,0.003303,0.046034,0.021327,0.000425,0.001271,0.00000,0.003277,0.012008,t2
1,1003869794,0.022103,0.063666,0.082502,0.005804,0.002167,0.00000,0.000000,0.013454,t4
2,101084953,0.012410,0.070934,0.319982,0.005436,0.000000,0.00000,0.011353,0.001466,t4
3,1013215946,0.002461,0.007519,0.122523,0.001095,0.002040,0.00208,0.000000,0.000000,t4
4,1016473609,0.000000,0.050600,0.123293,0.000000,0.000000,0.00000,0.000000,0.000000,t4

In [55]:
# t10
node = pd.read_csv("./Topics/Node/t10_Node1.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,8,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t10',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t10_Node1.csv",index=None) #<<<

In [56]:
# t10
node = pd.read_csv("./Topics/Node/t10_Node2.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,8,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t10',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t10_Node2.csv",index=None) #<<<

In [57]:
# t10
node = pd.read_csv("./Topics/Node/t10_Node3.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,8,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t10',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t10_Node3.csv",index=None) #<<<

In [58]:
# t10
node = pd.read_csv("./Topics/Node/t10_Node4.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,8,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t10',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t10_Node4.csv",index=None) #<<<

In [59]:
# t10
node = pd.read_csv("./Topics/Node/t10_Node5.csv",index_col=0,dtype='int') #<<<
node.columns=['userID','PhaseI','PhaseII','PhaseIII']
user = nor_userCluster.iloc[:,[0,8,9]] #<<<<

tmptable = pd.merge(node,user,on='userID',how='left').sort_values(by='t10',axis=0,ascending=False) #<<<
tmptable.columns = ['userID','PhaseI','PhaseII','PhaseIII','score','favTopic']
tmptable['favTopic'] = tmptable['favTopic'].map({'t6':'travel',
                                                  't1':'food',
                                                  't7':'food+cook',
                                                  't2':'holiday+home',
                                                  't4':'holiday+xmas+newyear',
                                                  't8':'holiday+gift',
                                                  't5': 'Design',
                                                  't10': 'SocialNetwork'})
tmptable.to_csv("./Topics/_t10_Node5.csv",index=None) #<<<